.header {
  background-color: #B7D8CC;
}

.apretiate {
  background-color: #EDF5F2;
  font-weight: bold;
  margin-top: 50%;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.table>tbody>tr>td {
    vertical-align: middle;
}

.question {
  background-color: white;
  margin-top: 50%;
}
